@page "/svgAnimace"
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>Animace SVG</PageTitle>
<div>
    <button class="btn btn-primary" @onclick="PridatTvar">Přidat obrazec</button>
    <button class="btn btn-warning" @onclick=OdebratTvar>Odebrat poslední obrazec</button>

    <button class="btn btn-primary" @onclick="PosunTvaru">Spustit posun</button>
    <button class="btn btn-secondary" @onclick="PosunZastavit">Zastavit posun</button>
    
    <input type="range" class="form-range" @bind-value=KrokAnimace min="1" max="10">

</div>
<div>
    <button class="btn btn-success" @onclick="Ulozit">Uložit</button>
    <button class="btn btn-info" @onclick="Nahrat">Nahrat</button>
    <button class="btn btn-danger" @onclick="Smazat">Smazat</button>
</div>

<svg class="my-3" style="border: black solid" width="@SvgWidth" height="@SvgHeight" xmlns="http://www.w3.org/2000/svg">
    @foreach (var item in SvgTvaryList)
    {
        switch (item.TypTvaru)
        {
            case Models.TypTvaru.Ctverec:
                Models.Ctverec ctverec = (Models.Ctverec)item;
                <rect width="@ctverec.StranaA" height="@ctverec.StranaA" x="@ctverec.PozX" y="@ctverec.PozY"
                      style="fill:rgb(@ctverec.Barva.R,@ctverec.Barva.G,@ctverec.Barva.B);stroke-width:2;stroke:black" />
                break;
            case Models.TypTvaru.Obdelnik:
                Models.Obdelnik obdelnik = (Models.Obdelnik)item;
                <rect width="@obdelnik.StranaA" height="@obdelnik.StranaB" x="@obdelnik.PozX" y="@obdelnik.PozY"
                      style="fill:rgb(@obdelnik.Barva.R,@obdelnik.Barva.G,@obdelnik.Barva.B);stroke-width:2;stroke:black" />
                break;
            case Models.TypTvaru.Kruh:
                Models.Kruh kruh = (Models.Kruh)item;
                <circle r="@kruh.Polomer" cx="@kruh.PozX" cy="@kruh.PozY" 
                fill="rgb(@kruh.Barva.R,@kruh.Barva.G,@kruh.Barva.B)" stroke="black" stroke-width="2" />
                break;
               
        }
    }
    
</svg>

@code {

}
